
<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/bg_img.jpg" alt=""></div>   
<!--メインビジュアル-->
<div class="p-top_mv under_mv_img_wrap over_2 obj-fit">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/topics_mv.png" alt="" class="under_mv_img">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/topics_mv_sp.png" alt="" class="under_mv_img_sp">
    <div class="title_circle"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_bg_circle.png" alt=""></div>
    <div class="under_page_title_wrap">
        <h2>商品一覧</h2>
        <p class="subtitle">Line Up</p>
    </div>
</div>

<section class="products_inner">
    <section class="products_category">
        <div class="inner">
            <div class="p_category">
                <ul>
                    <li class="thumn-box">
                        <a href="/collections/andagi/">
                            <div class="cate-name">
                            <p>サーターアンダギー</p>
                            <svg id="rayer1" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                <style>
                                .cls-1 {
                                    fill: #010642;
                                    stroke-width: 0px;
                                }
                                </style>
                            </defs>
                            <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                            </svg>
                            </div>
                        </a>
                    </li>
                        <li class="thumn-box">
                        <a href="/collections/chinsukou/">
                            <div class="cate-name">
                            <p>ちんすこう</p>
                            <svg class="chinsuko" id="rayer2" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                <style>
                                    .cls-1 {
                                    fill: #010642;
                                    stroke-width: 0px;
                                    }
                                </style>
                                </defs>
                                <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                            </svg>
                            </div>
                        </a>
                    </li>
                    <li class="thumn-box">
                        <a href="/collections/brown-sugar/">
                            <div class="cate-name">
                            <p>黒糖/黒糖菓子</p>
                            <svg class="kokuto" id="layer3" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                <style>
                                .cls-1 {
                                    fill: #010642;
                                    stroke-width: 0px;
                                }
                                </style>
                            </defs>
                            <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                            </svg>
                            </div>
                        </a>
                    </li>
                    <li class="thumn-box">
                        <a href="/collections/gift/">
                            <div class="cate-name">
                            <p>ギフト</p>
                            <svg class="gift" id="layer4" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                <style>
                                    .cls-1 {
                                    fill: #010642;
                                    stroke-width: 0px;
                                    }
                                </style>
                                </defs>
                                <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                            </svg>
                            </div>
                        </a>
                    </li>
                    <li class="thumn-box">
                        <a href="/collections/favorite/">
                            <div class="cate-name">
                            <p>店長の推し！<br class="sp">THE 沖縄</p>
                            <svg id="layer5" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #010642;
                                        stroke-width: 0px;
                                    }
                                    </style>
                                </defs>
                                <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="thumn-box">
                        <a href="/collections/other/">
                            <div class="cate-name">
                            <p>その他</p>
                            <svg class="other" id="layer6" data-name="layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.17 5.33">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #010642;
                                        stroke-width: 0px;
                                    }
                                    </style>
                                </defs>
                                <path class="cls-1" d="M.5,2.17c-.28,0-.5.22-.5.5s.22.5.5.5v-1ZM8.83,2.67c0,1.47,1.19,2.67,2.67,2.67s2.67-1.19,2.67-2.67-1.19-2.67-2.67-2.67-2.67,1.19-2.67,2.67ZM.5,3.17h11v-1H.5v1Z"/>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- /.p_category -->
        </div><!-- /.inner -->
    </section><!-- /.products_category -->

    <div class="inner products_inner over_2">
        {% comment %} {% paginate collection.products by limit %} {% endcomment %}

        <div class="p-order-content sort">
            <form id="FacetSortForm" class="arrow_u">
                <p>並び順：</p>
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message">
                    <option value="manual" {% if sort_by == "manual" %}selected{% endif %}>おすすめ</option>
                    <option value="created-descending" {% if sort_by == "created-descending" %}selected{% endif %}>新着順</option>
                    <option value="price-ascending" {% if sort_by == "price-ascending" %}selected{% endif %}>価格が安い順</option>
                    <option value="price-descending" {% if sort_by == "price-descending" %}selected{% endif %}>価格が高い順</option>
                </select>
            </form>
        </div><!--p-order-content-->
        

        <div class="p-products_list flex">
            {% for product in collection.products %}
            <div class="item-card02">
                <a href="{{ product.url }}">
                <div class="img-box obj-fit"><img
                    class="is_ObjectFit"
                    src="{{ product.featured_image.src | img_url: 'master' }}"
                    alt="">
                </div>
                <p class="cate">{{ product.tags | join: ', ' }}</p> <!-- 最初のタグを表示します。 -->
                <div class="item-name"><p>{{ product.title }}</p></div>
                <div class="price"><p>{{ product.price | money }}</p></div>
                </a>
            </div><!-- /.item-card -->
            {% endfor %}
        </div><!-- /.product-list -->
        
        <button class="more" id="load-more02">View More</button>
        


    </div>
    {% render 'under-blocks' %}

</section>


{% javascript %}
    //ソート
    let parameters = {};
        if (location.search.length) {
        let keyValue = "";
        let couples = location.search.substr(1).split('&');
        for (let i = 0; i < couples.length; i++) {
        keyValue = couples[i].split('=');
        if (keyValue.length > 1) {
            parameters[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
        }
        }
    }
    const selectElement = document.querySelector("#SortBy");
    selectElement.addEventListener("change", function(event) {
        parameters.sort_by = event.target.value;
        const url = Object.keys(parameters).map(function(key) {
        return encodeURIComponent(key) + '=' + encodeURIComponent(parameters[key])
        }).join('&');
        location.search = url;
    });


    document.addEventListener('DOMContentLoaded', function() {
        const url = window.location.href;
        const items = document.querySelectorAll('.thumn-box');

        let targetUrl = '';

        // URLに基づいてターゲットURLを設定
        if (url.includes('/collections/andagi')) {
            targetUrl = '/collections/andagi/';
        } else if (url.includes('/collections/chinsukou')) {
            targetUrl = '/collections/chinsukou/';
        } else if (url.includes('/collections/brown-sugar')) {
            targetUrl = '/collections/brown-sugar/';
        } else if (url.includes('/collections/gift')) {
            targetUrl = '/collections/gift/';
        } else if (url.includes('/collections/favorite')) {
            targetUrl = '/collections/favorite/';
        } else if (url.includes('/collections/other')) {
            targetUrl = '/collections/other/';
        }

        items.forEach(function(item) {
            const link = item.querySelector('a');
            if (link && link.getAttribute('href') === targetUrl) {
            link.classList.add('highlight');
            }
        });
    });
{% endjavascript %}



{% schema %}
    {
    "name": "products",
    "presets": [
    {
        "name": "products"
    }
    ]
}
{% endschema %}