<div class="bg-filter"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/bg_img.jpg" alt=""></div>   
<!--メインビジュアル-->
<div class="p-top_mv under_mv_img_wrap over_2 obj-fit">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/topics_mv.png" alt="" class="under_mv_img">
    <img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/topics_mv_sp.png" alt="" class="under_mv_img_sp">
    <div class="title_circle"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/title_bg_circle.png" alt=""></div>
    <div class="under_page_title_wrap">
        <h2>卸希望の方</h2>
        <p class="subtitle">Wholesale</p>
    </div>
</div>

<section class="wholesalepage_inner">
    <div class="inner over">
        <p class="contact_text">良味屋では、ロットでの卸希望向けの販売も行っています。
            <br>ご希望の方は、下記お電話または<a href="/pages/contact-form/" class="mail-form">メールフォーム</a>にてお問い合わせください。
        </p>

        {% render 'tel-blocks' %}
    
        <div class="products_inner over_2">
            <div class="p-products_list flex">
                {% for article in blog.articles %}
                <div class="item-card02 modal">
                    <a href="#modaal-box-{{ forloop.index }}" class="modaal-btn">
                        <div class="img-box obj-fit"><img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title }}"></div>
                        <div class="item-name w-item">
                            <p>{{ article.title }}</p>
                            <div class="plus"><img src="https://cdn.shopify.com/s/files/1/0638/7833/2621/files/plus_icon_2.svg" alt="+"></div>
                        </div>
                    </a>
                    <div id="modaal-box-{{ forloop.index }}" style="display:none;">
                        <div class="h-item_wrap p-top_mv">
                            <div class="h-merchandise-detail">
                                <div class="h-merchandise__img-content">
                                    <div class="h-merchandise__img-wrapper">
                                        <div class="swiper-container swiper04" style="overflow: hidden;">
                                            <div class="swiper-wrapper">
                                                {% if article.metafields.custom._wholesale_img %}
                                                    {% assign images = article.metafields.custom._wholesale_img.value %}
                                                    {% for image in images %}
                                                        <div class="swiper-slide">
                                                            <div class="h-img-wrapper obj-fit">
                                                                <img src="{{ image | img_url: '483x483' }}" alt="{{ article.title }}">
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                            {% endif %}
                                            </div><!-- /.swiper-wrapper -->
                                        </div><!-- /.swiper04 -->
                    
                                        <div class="thumb-list">
                                            {% if article.metafields.custom._wholesale_img %}
                                                {% for image in images %}
                                            <div class="thumb-item">
                                                <a class="thumb-link obj-fit" href="javascript:void(0);" onclick="thumbnail('{{ forloop.index }}')">
                                                    <img src="{{ image | img_url }}" alt="">
                                                </a>
                                            </div>
                                        {% endfor %}
                                        {% endif %}

                                        </div><!-- /.thumb-list -->    
                                    </div><!-- /.w-merchandise__img-wrapper -->
                                </div> <!--w-merchandise__img-content -->
                            </div><!--"p-merchandise-detail-->
                            <div class="w-item_wrapper">
                                <h2 class="w-item-name">{{ article.title }}</h2>
                                <p class="w-item-detail">
                                    【商品説明】<br>
                                    {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}
                                </p>
                            </div>
                        </div><!--w-item_wrap p-top_mv-->
                    </div><!--modaal-box-->
                </div><!-- /.item-card -->
                {% endfor %}
            
            </div><!-- /.product-list -->
        
        <button class="more" id="load-more03">View More</button>
    </div>
    </div>
</section>

{% render 'under-blocks' %}

{% comment %} <!-- 必要なスクリプトを読み込む -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modaal/0.4.4/js/modaal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modaal/0.4.4/css/modaal.min.css" />
<script>
    const swiper04 = new Swiper(".swiper04", {
    loop: true,
    }); function thumbnail(index) {
        swiper04.slideTo(index);
    }
    // モーダルの初期化
    $(document).ready(function() {
    $('.modaal-btn').modaal({
        background: '#FEF8F1',
        overlay_opacity: '1',
    });
});
</script> {% endcomment %}

{% schema %}
    {
    "name": "wholesale",
    "presets": [
    {
        "name": "wholesale"
    }
    ]
}
{% endschema %}

